.ng-cloak {
	display: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-body-user {
	display: -webkit-box;
}

#map {
  height: 100%;
}

.modal-show{
	display: block;
}

.modal-dialog {
  width: 700px;
}

.no-margin-bottom {
	margin-bottom: 0px !important;
}

.form-inline-modal {
  margin-bottom: 15px;
}

.form-control-input {
  width: 200px !important;
}

.img-user {
	width: 170px;
	margin-bottom: 15px;
}

.td-user {
	width: 170px;
}

.gmaps-label {
	position: absolute;
	border: 0;
	white-space: nowrap;
	font-family: Arial, sans-serif;
	color: white;
	font-size: 17px;
	text-shadow:
		-1px -1px 0.5px rgba(0,0,0,0.5),
		1px -1px 0.5px rgba(0,0,0,0.5),
		-1px 1px 0.5px rgba(0,0,0,0.5),
		1px 1px 0.5px rgba(0,0,0,0.5);
}

.gmaps-label.small {
	font-size: 14px;
}

.gmaps-label.big {
	font-size: 22px;
}

.gmaps-label.huge {
	font-size: 30px;
	text-shadow:
		-1.5px -1.5px 0.5px rgba(0,0,0,0.5),
		1.5px -1.5px 0.5px rgba(0,0,0,0.5),
		-1.5px 1.5px 0.5px rgba(0,0,0,0.5),
		1.5px 1.5px 0.5px rgba(0,0,0,0.5);
}