.ng-cloak{
	display: none;
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
}

#map{
  height: 100%;
}

.panel-description-user{
	margin-right: 10px;
	font-size: 30px;
	text-align: center;
}

.no-margin-bottom{
	margin-bottom: 0px !important;
}

.panel-default-user{
	background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}

.img-user{
	width: 200px;
}