<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Porto - Configuração</title>
		<link rel="shortcut icon" href="/img/icon.jpg">
		<link rel="mask-icon" href="/img/favicon.jpg" color="black">
		<link rel="stylesheet" type="text/css" href="/app/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/app/css/configuration.css">
	</head>
	<body class="ng-cloak" ng-controller="ctrl">
		<div id="map"></div>
		<div id="sidebar">
			<h3 class="text-center">Alertas</h3>
			<div class="box-alerts">
				<div class="alert alert-danger" role="alert">
					<div class="row">
						<div class="col-sm-4 col-image-user">
							<div class="thumbnail no-margin-bottom">
		      			<img src="/app/img/users/1.png" />
		      		</div>
						</div>
						<div class="col-sm-8 col-description-user text-center">
							<strong>Joe Jonas Vogel</strong>
							<br/>
							<span>Schroeder-SC</span>
							<br/>
							<div class="alert-buttons">
								<button class="btn btn-default btn-sm">Info.</button>
								<button class="btn btn-default btn-sm">Localizar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="legend">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <table class="table table-bordered table-condensed">
			    	<thead>
			    		<tr>
			    			<th>Cor</th>
			    			<th>Descrição</th>
			    		</tr>
			    	</thead>
			    </table>
			  </div>
			</div>
		  <button type="button" class="btn btn-default" ng-click="save()">Salvar</button>
		  <button type="button" class="btn btn-default">Cancelar</button>
		</div>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAa79lG1wms2diBsx5jZiqGH4gm1rHRg88&callback=initMap&signed_in=true&libraries=drawing" async defer></script>
		<script src="/app/vendor/angular/angular.min.js"></script>
		<script src="/app/js/init.js"></script>
		<script src="/app/js/configuration.js"></script>
	</body>
</html>