<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Porto - Mapa</title>
    <link rel="shortcut icon" href="/app/img/logo.png">
    <link rel="mask-icon" href="/app/img/logo.png">
    <link rel="stylesheet" type="text/css" href="/app/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/app/css/new.css">
  </head>
  <body class="ng-cloak" ng-controller="ctrl">
  	<img src="/app/img/backgroud.png" />
  	<canvas id="map"></canvas>
		<script src="/app/vendor/angular/angular.min.js"></script>
  	<script src="/socket.io/socket.io.js"></script>
    <script src="/app/vendor/fabric/js/fabric.min.js"></script>
    <script src="/app/js/new.js"></script>
  </body>
</html>